extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Log into your account
      form#form-login.form
        .form__group
          label.form__label(for='email') Email address
          input#email-login.form__input(
            type='email',
            placeholder='you@example.com',
            required
          )
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password-login.form__input(
            type='password',
            placeholder='••••••••',
            required,
            minlength='8'
          )
        .form__group
          button#loginBtn.btn.btn--green Login
        .form__group
          h2
            a(
              href='/ForgotPassword',
              style='text-decoration: none; color: #55c57a'
            ) Forgot your password?
